@import "tailwindcss";

:root {
  --background: #141414;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roobert);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roobert), Arial, Helvetica, sans-serif;
}
